<!DOCTYPE HTML>
<html>
	<head>
		<title>Adam Bayraktar</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper-->
			<div id="wrapper">

				<!-- Nav -->
					<nav id="nav">
						<a href="#" class="icon solid fa-home"><span>Home</span></a>
						<a href="#about_me" class="icon solid fa-user"><span>About me</span></a>
						<a href="#work" class="icon solid fa-folder"><span>Work</span></a>
						<a href="#contact" class="icon solid fa-envelope"><span>Contact</span></a>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- card -->
							<article id="home" class="panel intro">
								<header>
									<h1>Adam Bayraktar</h1>
									<p>Programmer</p>
								</header>
								<a href="#work" class="jumplink pic">
									<span class="arrow icon solid fa-chevron-right"><span>See my work</span></span>
									<img src="static/images/adam.jpg" alt="" />
								</a>
							</article>
						
							<!-- about me -->
							<article id="about_me" class="panel">
								<header>
									<h1>Let me introduce myself.</h1>
								</header>
								<p>My name is Adam Bayraktar 👋, and I'm a sports enthusiast, avid video gamer, and passionate programmer.
									<br>								
									When I'm not at the keyboard, you'll likely find me on the football field ⚽ or squash court 🎾, competing and staying active. I've always been drawn to the physical and mental challenges that sports provide 🏋️‍♂️, and I enjoy pushing myself to new limits 🎯.
									<br>
									In addition to sports, I also have a passion for video games. From classic arcade titles 🕹 to modern console favorites 🎮, I enjoy exploring new worlds, solving puzzles, and engaging in epic battles with friends and fellow gamers.
									<br>
									Of course, my true love is programming 💻. As a programmer, I am constantly exploring new technologies 🔎 and pushing the boundaries of what is possible. I love the process of problem-solving, and the satisfaction that comes from turning an idea into a functional program is truly unparalleled.
									<br>
									If you want me to be part of your project, please send me a message using the form 📧. I really can't wait to work with you!
								</p>
							</article>

						<!-- Work -->
							<article id="work" class="panel">
								<header>
									<h2>Work</h2>
								</header>
								<p>
									I am currently working at Golden Rose Alemoz. I am responsible for marketing, marketplace and websites. I do many different things such as:</p> 
									<ul>
										<li>
											creating blogs, 
										</li>
										<li>
											art design
										</li>
										<li>
											finding new opportunities to increase sales
										</li>
										<li>
											creating and maintaining websites, 
										</li>
										<li>
											creating social media posts, 
										</li>
									</ul>
								</p>
								
							</article>

						<!-- Contact -->
							<article id="contact" class="panel">
								<header>
									<h2>Contact Me</h2>
								</header>
								<form action="#" method="post">
									<div>
										<div class="row">
											<div class="col-6 col-12-medium">
												<input type="text" name="name" placeholder="Name" />
											</div>
											<div class="col-6 col-12-medium">
												<input type="text" name="email" placeholder="Email" />
											</div>
											<div class="col-12">
												<input type="text" name="subject" placeholder="Subject" />
											</div>
											<div class="col-12">
												<textarea name="message" placeholder="Message" rows="6"></textarea>
											</div>
											<div class="col-12">
												<input type="submit" value="Send Message" />
											</div>
										</div>
									</div>
								</form>
							</article>

					</div>

				<!-- Footer -->
					<div id="footer">
						<ul class="copyright">
							<li>&copy; Adam Bayraktar.</li>
						</ul>
					</div>

			</div>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>