<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Update the Cafe's Coffees Price</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Update coffees price</h1>
        <p>Old price: {{ cafe.coffee_price }}</p>
        <script src="" async defer></script>
    </body>
</html>