{% extends 'base.html' %}

{% block title %}Add Movie{% endblock %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}


{% block content %}
<div class="container">
    <h1 class="heading ">Add a Movie</h1>
    <form class="row justify-content-center" action="{{ url_for('select') }}" method="POST">
      <div class="col-4">
        <span class="fs-3 p-3">{{ form.search.label }}</span> <br>
        <span class="text-center p-3">{{ form.search }}</span><br>
        <span class="text-center p-3">{{ form.submit }}</span>
      </div>
    </form>
</div>
{% endblock %}